body {
    height: 100vh;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.weather-container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    border: 5px solid black;
    border-radius: 10px;
    background-color: white;
    align-items: center;
    gap: 5px;
}

.location {
    font-weight: bold;
    font-size: 2rem;
    font-family: "Times New Roman", Times, serif;
    padding-top: 20px;
}

.temperature,
button {
    font-size: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;
}

.request-time {
    position: fixed;
    top: 0;
    right: 0;
    color: black;
    background-color: white;
    opacity: 0.5;
}
